.overview {
  padding: var(--space-md);
}

.title {
  font-size: 32px;
  margin-bottom: var(--space-lg);
}

.dayTitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
}

.dayGroup {
  padding-top: 12px;
  padding-bottom: 12px;
}

.divider {
  border-top: 1px solid #bbb;
}
