.fab {
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007aff;
  color: white;

  font-size: 28px;
  z-index: auto;
}
