.mediaFilter {
  display: flex;
  padding: 8px 0;
  border: 1px solid #bbb;
}

.mediaFilter button {
  flex: 1;
  background-color: white;
  border: none;
  padding: 0 6px;
  text-align: center;
  font-size: 16px;
}

.mediaFilter button:not(:last-child) {
  border-right: 1px solid #bbb; /* Prevent double borders */
}

.mediaFilter button.active {
  font-weight: 600;
}
