.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  overflow: hidden;
}

.appHeader {
  padding: 16px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

.appContent {
  flex: 1;
  padding: 16px;
}
