.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.appHeader {
  display: flex;
  justify-content: center;
  padding: var(--space-md);
  font-weight: 600;
  border-bottom: 1px solid #eee;
  font-size: 32px;
}

.appContent {
  flex: 1;
  padding: var(--space-md);
  /* padding-bottom: 56px;  space for tabbar*/
}
